body{
	font-family: 'Montserrat', Verdana, 'YuGothic', 'Yu Gothic', '游ゴシック', '游ゴシック体', "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
	font-weight: bold;
}
a {
	color: #D43F3A;
	text-decoration: underline;
}
a:hover{
	color: #9E1D19;
}
.navbar-invisible{
	background: transparent;
	border-color: transparent;
	color: white;
	background-color:black;

}
.navbar-invisible .nav li a,
.navbar-invisible .navbar-brand{
	text-decoration: none;
	color: white;
}
header {
	background-image: url(../img/Zousha.jpg);
	background-size: cover;
	height: 360px;
	position: relative;
}
aside {
	background-color: #EEEEEE;
	padding: 60px 0;
}
footer {
	background-color: #333333;
	padding: 30px 0;
	color: white;
}
header h1,
header a {
	color: white;
}

header h1{
	font-weight: 700;
	font-size: 77px;
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
}
p {
	margin-top: 15px;
}

article {
	background-color:#74A8E8; 
	padding: 30px 0;
	border-bottom: 1px solid #EEEEEE;
}
.fa {
	color: #D43F3A;
	margin: 0 5px;
}
.sentence{
	font-size: 16px;
	line-height: 2em;
}
div.row{
	background-color: #848484;
}
